In [1]:
### Google Maps and Places API
## Create Heatmaps for Weather Parameters (6.5.2)

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Avarua,-21.2078,-159.7750,77.05,83,90,2.30,CK,2021-12-09 18:44:01
1,1,Carnarvon,-24.8667,113.6333,71.67,78,90,19.57,AU,2021-12-09 18:47:55
2,2,Khatanga,71.9667,102.5000,-6.47,96,100,10.87,RU,2021-12-09 18:47:55
3,3,Axim,4.8699,-2.2405,81.05,81,6,9.06,GH,2021-12-09 18:47:55
4,4,Yakeshi,49.2833,120.7333,7.34,97,100,3.38,CN,2021-12-09 18:47:56

In [4]:
# One caveat to using gmaps: The data we use for any mapping must be an integer or a floating-point decimal number.
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [5]:
## Create a Maximum Temperature Heatmap

In [6]:
# Configure gmaps to use your Google API key. (only need to configure gmaps to use your API key once!)
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4) 
# or we use a list comprehension heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Adjust Heatmap Zoom, Intensity, and Point Radius

In [10]:
# First, add the geographic center of Earth in the form of latitude and longitude (30.0° N and 31.0° E). Also, add a zoom level so that only one map of Earth is shown.

In [11]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# applied above

In [12]:
## Create a Percent Humidity Heatmap

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
## Create a Percent Cloudiness Heatmap

In [15]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
## Create a Wind Speed Heatmap

In [17]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
### Get Vacation Criteria

In [19]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [20]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Avarua,-21.2078,-159.7750,77.05,83,90,2.30,CK,2021-12-09 18:44:01
3,3,Axim,4.8699,-2.2405,81.05,81,6,9.06,GH,2021-12-09 18:47:55
5,5,Bairiki,1.3292,172.9752,80.60,89,40,4.61,KI,2021-12-09 18:47:56
6,6,Rikitea,-23.1203,-134.9692,75.45,73,64,21.54,PF,2021-12-09 18:47:56
9,9,Bathsheba,13.2167,-59.5167,84.81,65,40,21.85,BB,2021-12-09 18:47:57
10,10,Bundaberg,-24.8500,152.3500,77.22,92,12,0.00,AU,2021-12-09 18:47:57
11,11,Guarapari,-20.6667,-40.4975,75.09,78,86,5.91,BR,2021-12-09 18:47:58
12,12,Atuona,-9.8000,-139.0333,78.28,64,82,14.00,PF,2021-12-09 18:47:58
15,15,Pimentel,-6.8367,-79.9342,75.49,60,0,16.11,PE,2021-12-09 18:47:59
23,23,Tingloy,13.6609,120.8711,75.83,81,98,15.48,PH,2021-12-09 18:48:01

In [21]:
# determine if the preferred_cities_df DataFrame has any null values for any of the rows.

In [22]:
preferred_cities_df.count()
# preferred_cities_df.isnull().sum()
# preferred_cities_df.notnull().sum()

City_ID       163
City          163
Lat           163
Lng           163
Max Temp      163
Humidity      163
Cloudiness    163
Wind Speed    163
Country       163
Date          163
dtype: int64

In [23]:
### Map Vacation Criteria (6.5.4)

In [24]:
## Get Travel Destinations (hotels)
# Don't add the hotel information to the preferred_cities_df DataFrame because this DataFrame is our filtered DataFrame, and the customer will always filter it for each trip.

In [25]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
0      Avarua      CK     77.05 -21.2078 -159.7750
3        Axim      GH     81.05   4.8699   -2.2405
5     Bairiki      KI     80.60   1.3292  172.9752
6     Rikitea      PF     75.45 -23.1203 -134.9692
9   Bathsheba      BB     84.81  13.2167  -59.5167
10  Bundaberg      AU     77.22 -24.8500  152.3500
11  Guarapari      BR     75.09 -20.6667  -40.4975
12     Atuona      PF     78.28  -9.8000 -139.0333
15   Pimentel      PE     75.49  -6.8367  -79.9342
23    Tingloy      PH     75.83  13.6609  120.8711

In [26]:
## Retrieve Hotels from a Nearby Search

In [27]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
        # Grab the first hotel from the results and store the name.
        # hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        ## error - Let's modify the last piece of code and make a try-exceptblock to handle the IndexError
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [29]:
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng                 Hotel Name
0      Avarua      CK     77.05 -21.2078 -159.7750               Paradise Inn
3        Axim      GH     81.05   4.8699   -2.2405  Axim Beach Resort And Spa
5     Bairiki      KI     80.60   1.3292  172.9752      Tarawa Boutique Hotel
6     Rikitea      PF     75.45 -23.1203 -134.9692            People ThankYou
9   Bathsheba      BB     84.81  13.2167  -59.5167             Atlantis Hotel
10  Bundaberg      AU     77.22 -24.8500  152.3500             Takalvan Motel
11  Guarapari      BR     75.09 -20.6667  -40.4975         Hotel Porto do Sol
12     Atuona      PF     78.28  -9.8000 -139.0333                Villa Enata
15   Pimentel      PE     75.49  -6.8367  -79.9342          Casona Del Muelle
23    Tingloy      PH     75.83  13.6609  120.8711          Sea Spring Resort

In [30]:
## Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [31]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Add the markers for each city on top of the heatmap.

In [33]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [35]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))